.DS_Store
npm-debug.log
Thumbs.db
out/
**/node_modules/
*/out/
.vs/
*/.vs/
.covdbg/
coverage/
*.vsix
tsconfig.lsif.json
*.lsif
*.db
*.tsbuildinfo

# Don't check in API files. These should be pulled in during install
vscode*.d.ts

assets/portable
test-out/
