.vscode/**
.vscode-test/**
.github/**
src/**
node_modules/**
test-out/**
out/**
!out/extension.js
!out/sql-wasm.wasm
.gitignore
.eslintrc.json
scripts/**
tsconfig.tests.json
**/tsconfig.json
**/*.map
**/*.ts
!**/*.d.ts
QUICKSTART.md

